.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}

.navTopLeft a img {
  height: 140px;
}

.menu-item {
  padding: 10px;
}

#navName {
  font-family: Edwardian Script ITC;
  font-size: 8rem;
  margin: 0;
}
